# Environment variables
# .env  <- Keep template .env file in repo, but remind users not to commit secrets!

# Python cache files
app/__pycache__/
*.pyc

# Virtual environment
venv/

# log files
logs

# macOS specific files
.DS_Store

# Roo specific files
.roo/