# Environment variables
# .env  <- Keep template .env file in repo, but remind users not to commit secrets!

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Specific files to ignore
优化建议.txt